<configuration>
    <root level="INFO">
        <appender name="JSON" class="ch.qos.logback.core.FileAppender">
            <file>log/loggingexperiment.json</file>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"application":"loggingexperiment"}</customFields>
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>log/loggingexperiment.log</file>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg - %marker%n</pattern>
            </encoder>
        </appender>
    </root>
</configuration>
